body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: maroon;
  background-color: #ffff00;
}
p.vraag {

}
ul.mahass li{
  background-color: pink;
  color: black;
}
ul.mahass{
  background-color: #551A8B;
  list-style: inside circle none;
}
div.antwoord {
  color: #a21212;
  background-color: #a21212;
  border-radius: 5px;
  border: #a21212 solid 5px;
}
div.antwoord2 {
  color: yellow;
  background-color: yellow;
  border-radius: 5px;
  border: yellow solid 5px;
}
.antwoord:hover {
  color: white;
}
.antwoord2:hover {
  color: black;
}
.antwoord:hover {
  color: white;
}
div.hoi {
  color: yellow;
  background-color: yellow;
}
.hoi:hover {
  color: black;
}
table.prijslijst{
  background-color: maroon;
  color: orange;
  border: 3px solid gray;
  border-collapse: collapse;
}
table.prijslijst td {
  border: 2px solid gray;
}
table.prijslijst th {
  background-color: white;
  color: black;
}
img{
  border: 4px solid black;
  border-radius: 20px 20px 20px 20px;
}
iframe{
  border: 4px solid black;
  border-radius: 20px 20px 20px 20px;
}
h1{
  padding: 11px;
  color: #FFFFFF;
  background-color: #2B2D2F;
  border: 4px solid white;
  border-radius: 20px 20px 20px 20px;
  text-align : center;
  font-family: Georgia, "Times New Roman";
  font-style: italic;
}
h2{
  color: #FFFFFF;
  background-color: #2B2D2F;
  border: 4px solid #2B2D2F;
  border-radius: 15px 15px 15px 15px;
  text-align : center;
  font-family: Georgia, "Comic sans";
  font-style: italic;
}
.middle{
  text-align: center;
}
.frik{
  display: block;
  width: 100% height: 100%;
}
.left {
  width: 40%;
  float: left;
  background-color: #FFFFAA;
  border: 4px solid #FFFFAA;
  border-radius: 15px;
}
.right {
  width: 40%;
  float: right;
  background-color: #FFFFAA;
  border: 4px solid #FFFFAA;
  border-radius: 15px;
}

p {
  text-align: justify;
  line-height: 25px;
}
a:link {
  text-decoration: none;
}
.menu
{
  display: flex;
  list-style: none;
  border-radius: 15px;
  list-style-type: none;
  border: #00ff66 solid 5px;
  text-align : center;
  background-color: #99ff99;
  width: 90%;
}
.menu li {
  margin-left: 85px;
  padding: 0;
  margin-right: 50px;
  text-align : center;
}
